body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    text-align: right;
}

.user-info h3 {
    margin: 0;
}

.user-info a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

main {
    padding: 20px;
    text-align: center;
}

.current-token {
    margin-bottom: 20px;
}

.token-form button, .status-form button {
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.token-form button[value="next_token"] {
    background-color: #4CAF50;
}

.token-form button[value="not_arrived"] {
    background-color: #f44336;
}

.token-form button:hover {
    background-color: #45a049;
}

.status-form {
    margin-top: 20px;
}

.status-form button {
    background-color: #f44336;
}

.status-form button[value="active"] {
    background-color: #4CAF50;
}

.footer {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
